<a href="https://colab.research.google.com/github/doaa450/Book-Recomendation-system/blob/main/Book_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Libraries
import pandas as pd
import csv

In [ ]:
df = pd.read_csv('/content/BX-Books.csv',quoting=csv.QUOTE_NONE,encoding='latin-1',sep=';',on_bad_lines='skip')
df.head(10)

,"""ISBN","""""Book-Title""""","""""Book-Author""""","""""Year-Of-Publication""""","""""Publisher""""","""""Image-URL-S""""","""""Image-URL-M""""","""""Image-URL-L"""""",,,,,,,,"
0,"""0195153448","""""Classical Mythology""""","""""Mark P. O. Morford""""","""""2002""""","""""Oxford University Press""""","""""http://images.amazon.com/images/P/0195153448...","""""http://images.amazon.com/images/P/0195153448...","""""http://images.amazon.com/images/P/0195153448..."
1,"""0002005018","""""Clara Callan""""","""""Richard Bruce Wright""""","""""2001""""","""""HarperFlamingo Canada""""","""""http://images.amazon.com/images/P/0002005018...","""""http://images.amazon.com/images/P/0002005018...","""""http://images.amazon.com/images/P/0002005018..."
2,"""0060973129","""""Decision in Normandy""""","""""Carlo D'Este""""","""""1991""""","""""HarperPerennial""""","""""http://images.amazon.com/images/P/0060973129...","""""http://images.amazon.com/images/P/0060973129...","""""http://images.amazon.com/images/P/0060973129..."
3,"""0374157065","""""Flu: The Story of the Great Influenza Pandem...","""""Gina Bari Kolata""""","""""1999""""","""""Farrar Straus Giroux""""","""""http://images.amazon.com/images/P/0374157065...","""""http://images.amazon.com/images/P/0374157065...","""""http://images.amazon.com/images/P/0374157065..."
4,"""0399135782","""""The Kitchen God's Wife""""","""""Amy Tan""""","""""1991""""","""""Putnam Pub Group""""","""""http://images.amazon.com/images/P/0399135782...","""""http://images.amazon.com/images/P/0399135782...","""""http://images.amazon.com/images/P/0399135782..."
5,"""0425176428","""""What If?: The World's Foremost Military Hist...","""""Robert Cowley""""","""""2000""""","""""Berkley Publishing Group""""","""""http://images.amazon.com/images/P/0425176428...","""""http://images.amazon.com/images/P/0425176428...","""""http://images.amazon.com/images/P/0425176428..."
6,"""0671870432","""""PLEADING GUILTY""""","""""Scott Turow""""","""""1993""""","""""Audioworks""""","""""http://images.amazon.com/images/P/0671870432...","""""http://images.amazon.com/images/P/0671870432...","""""http://images.amazon.com/images/P/0671870432..."
7,"""0679425608","""""Under the Black Flag: The Romance and the Re...","""""David Cordingly""""","""""1996""""","""""Random House""""","""""http://images.amazon.com/images/P/0679425608...","""""http://images.amazon.com/images/P/0679425608...","""""http://images.amazon.com/images/P/0679425608..."
8,"""074322678X","""""Where You'll Find Me: And Other Stories""""","""""Ann Beattie""""","""""2002""""","""""Scribner""""","""""http://images.amazon.com/images/P/074322678X...","""""http://images.amazon.com/images/P/074322678X...","""""http://images.amazon.com/images/P/074322678X..."
9,"""0771074670","""""Nights Below Station Street""""","""""David Adams Richards""""","""""1988""""","""""Emblem Editions""""","""""http://images.amazon.com/images/P/0771074670...","""""http://images.amazon.com/images/P/0771074670...","""""http://images.amazon.com/images/P/0771074670..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14143 entries, 0 to 14142
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   "ISBN                     14143 non-null  object
 1   ""Book-Title""            14143 non-null  object
 2   ""Book-Author""           14143 non-null  object
 3   ""Year-Of-Publication""   14143 non-null  object
 4   ""Publisher""             14143 non-null  object
 5   ""Image-URL-S""           14143 non-null  object
 6   ""Image-URL-M""           14143 non-null  object
 7   ""Image-URL-L""",,,,,,,,  14143 non-null  object
dtypes: object(8)
memory usage: 884.1+ KB

# Pre-processing Data to Build the Recommendation System

In [ ]:
#df = df['""Book-Title""'].astype('str')

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df=pd.DataFrame(df)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.duplicated(subset=['""Book-Title""']).sum()

765

In [ ]:
df = df.drop_duplicates(subset='""Book-Title""')

In [ ]:
df.duplicated(subset=['""Book-Title""']).sum()

0

# Processing Text Data

In [ ]:
df.head()

,"""ISBN","""""Book-Title""""","""""Book-Author""""","""""Year-Of-Publication""""","""""Publisher""""","""""Image-URL-S""""","""""Image-URL-M""""","""""Image-URL-L"""""",,,,,,,,"
0,"""0195153448","""""Classical Mythology""""","""""Mark P. O. Morford""""","""""2002""""","""""Oxford University Press""""","""""http://images.amazon.com/images/P/0195153448...","""""http://images.amazon.com/images/P/0195153448...","""""http://images.amazon.com/images/P/0195153448..."
1,"""0002005018","""""Clara Callan""""","""""Richard Bruce Wright""""","""""2001""""","""""HarperFlamingo Canada""""","""""http://images.amazon.com/images/P/0002005018...","""""http://images.amazon.com/images/P/0002005018...","""""http://images.amazon.com/images/P/0002005018..."
2,"""0060973129","""""Decision in Normandy""""","""""Carlo D'Este""""","""""1991""""","""""HarperPerennial""""","""""http://images.amazon.com/images/P/0060973129...","""""http://images.amazon.com/images/P/0060973129...","""""http://images.amazon.com/images/P/0060973129..."
3,"""0374157065","""""Flu: The Story of the Great Influenza Pandem...","""""Gina Bari Kolata""""","""""1999""""","""""Farrar Straus Giroux""""","""""http://images.amazon.com/images/P/0374157065...","""""http://images.amazon.com/images/P/0374157065...","""""http://images.amazon.com/images/P/0374157065..."
4,"""0399135782","""""The Kitchen God's Wife""""","""""Amy Tan""""","""""1991""""","""""Putnam Pub Group""""","""""http://images.amazon.com/images/P/0399135782...","""""http://images.amazon.com/images/P/0399135782...","""""http://images.amazon.com/images/P/0399135782..."

# Data Cleaning

In [ ]:
def clean_text(author):
    result = str(author).lower()
    return(result.replace(' ',''))

In [ ]:
df.columns

Index(['"ISBN', '""Book-Title""', '""Book-Author""', '""Year-Of-Publication""',
       '""Publisher""', '""Image-URL-S""', '""Image-URL-M""',
       '""Image-URL-L""",,,,,,,,'],
      dtype='object')

In [ ]:
df['""Book-Author""' ] = df['""Book-Author""' ].apply(clean_text)

<ipython-input-14-76275766307b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['""Book-Author""' ] = df['""Book-Author""' ].apply(clean_text)

In [ ]:
df['""Book-Title""'] = df['""Book-Title""'].str.lower()
df['""Publisher""'] = df['""Publisher""'].str.lower()

<ipython-input-15-0bec36ba77ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['""Book-Title""'] = df['""Book-Title""'].str.lower()
<ipython-input-15-0bec36ba77ec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['""Publisher""'] = df['""Publisher""'].str.lower()

In [ ]:
# combine all strings:
df2 = df.drop(['"ISBN', '""Year-Of-Publication""', '""Image-URL-S""', '""Image-URL-M""', '""Image-URL-L""",,,,,,,,'],axis=1)

df2['data'] = df2[df2.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)

print(df2['data'].head())

0     ""markp.o.morford"" ""oxford university press""
1    ""richardbrucewright"" ""harperflamingo canada""
2                 ""carlod'este"" ""harperperennial""
3         ""ginabarikolata"" ""farrar straus giroux""
4                     ""amytan"" ""putnam pub group""
Name: data, dtype: object

In [ ]:
def clean (data):
    result = str(data).lower()
    return(result.replace('""',''))

In [ ]:
df2['data'] =df2['data'].apply(clean)

In [ ]:
df2['data'].head()

0     markp.o.morford oxford university press
1    richardbrucewright harperflamingo canada
2                 carlod'este harperperennial
3         ginabarikolata farrar straus giroux
4                     amytan putnam pub group
Name: data, dtype: object

In [ ]:
len(df2)

13378

# Vectorize the Dataframe

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(vectorized)

In [ ]:
print(similarities)

[[1.   0.   0.   ... 0.4  0.   0.  ]
 [0.   1.   0.   ... 0.   0.   0.  ]
 [0.   0.   1.   ... 0.   0.   0.  ]
 ...
 [0.4  0.   0.   ... 1.   0.   0.  ]
 [0.   0.   0.   ... 0.   1.   0.25]
 [0.   0.   0.   ... 0.   0.25 1.  ]]

In [ ]:
df = pd.DataFrame(similarities, columns=df['""Book-Title""'], index=df['""Book-Title""']).reset_index()

df.head()

"""""Book-Title""""","""""Book-Title""""","""""classical mythology""""","""""clara callan""""","""""decision in normandy""""","""""flu: the story of the great influenza pandemic of 1918 and the search for the virus that caused it""""","""""the kitchen god's wife""""","""""what if?: the world's foremost military historians imagine what might have been""""","""""pleading guilty""""","""""under the black flag: the romance and the reality of life among the pirates""""","""""where you'll find me: and other stories""""",...,"""""becoming a contagious christian participant's guide""""","""""on the run""""","""""fire in the sun""""","""""a more perfect union""""","""""tarnished icons: an inspector porfiry posntnikov novel (inspector porfiry rostnikov novel)""""","""""for reading out loud!""""","""""brick lane: a novel""""","""""gandhi's way: a handbook of conflict resolution""""","""""cowboy""""","""""the barbarians are coming: a novel"""""
0,"""""classical mythology""""",1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0
1,"""""clara callan""""",0.0,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"""""decision in normandy""""",0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"""""flu: the story of the great influenza pandem...",0.0,0.0,0.0,1.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"""""the kitchen god's wife""""",0.0,0.0,0.0,0.0,1.0,0.25,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5

# Displaying User Recommendations

In [ ]:
input_book = '""decision in normandy""'
recommendations = pd.DataFrame(df.nlargest(10,input_book)['""Book-Title""'])
recommendations = recommendations[recommendations['""Book-Title""']!=input_book]
print(recommendations)

                                      ""Book-Title""
0                            ""classical mythology""
1                                   ""clara callan""
3  ""flu: the story of the great influenza pandem...
4                         ""the kitchen god's wife""
5  ""what if?: the world's foremost military hist...
6                                ""pleading guilty""
7  ""under the black flag: the romance and the re...
8        ""where you'll find me: and other stories""
9                    ""nights below station street""